<body>
<div style="text-align: center;">

    <form [formGroup]="form2" (ngSubmit)="onSubmitbm(form2.value)">

        <button type = "button" class= "btn2"
        (click)="home()">Home</button>
    


    
        
        <h2>Add BookMark to the task</h2>
        <h2> BookMark:</h2>
     <select name="isbookmarked" formControlName="isbookmarked">
         <option value="True">True</option>
         <option value="False">False</option>
         
     </select>

        <br/><br/>

        <h2> Task ID:</h2>
         <input type="text" name="taskid"  formControlName="taskid"/>
         <br/><br/>
  
        <button type = "button" class= "btn btn-success"
        (click)="onSubmitbm(form2.value)">add BookMark</button>
    
        
    </form>
        
    </div>

    <div *ngFor="let b of tasks">

        updated bookmark for task id: {{b.taskid}}
        </div>