<body>
<div style="text-align: center;">


    <form [formGroup]="form2" (ngSubmit)="onSubmit(form2.value)">
        <br />

    
        <h1 style="text-align: center;background:lightgrey"> Welcome To Task Tracking system</h1>
        <h2>Login </h2>
        <h2> User Name :</h2>
        
         <input type="text" name="username"  formControlName="username"/>
         <br/><br/>
         <h2>
             Password : 
         </h2>
         <input type="password" name="pwd"  formControlName="pwd"/>
         <br/><br/>
    <button type = "button" class= "btn btn-success"
        (click)="onSubmit(form2.value)">Login</button>
        
    </form>
    
    
    </div>
    <br />
    <br />

    <br />

    <br />

    <br />

    <br />

    <br />

    <br />

    <br />

</body>