
<body style="text-align: center;">


    <br />
<h1 >WELCOME TO TASK TRACKING SYSTEM</h1>

<br />
<br />
<br />

<table>
    <tr>
        <th>ADD USER</th>
        <th>

<button type = "button" class ="btn"(click)="adduser()"><b>ADD USER</b></button>
</th>
</tr>

<tr>
    <th>ADD TASK</th>
    <th>
<button type = "button" class ="btn"(click)="addtask()"><b>ADD TASK</b></button>
</th>
</tr>

<tr>
    <th>DELETE A TASK</th>
    <th>
<button type = "button" class ="btn"(click)="deletetask()"><b>DELETE TASK</b></button>
</th>
</tr>

<tr>
    <th>GET ALL TASK DETAILS</th>
    <th>

<button type = "button" class ="btn"(click)="gettask()"><b>GET TASK</b></button>
</th>
</tr>

<tr>
    <th>UPDATE PRIORITY OF A TASK</th>
    <th>
<button type = "button" class ="btn"(click)="updatepri()"><b>UPDATE PRIORITY</b></button>
</th>
</tr>

<tr>
    <th>ADD NOTES TO A TASK</th>
    <th>
<button type = "button" class ="btn"(click)="addnotes()"><b>ADD NOTES</b></button>
</th>
</tr>

<tr>
    <th>ADD BOOKMARKS TO A TASK</th>
    <th>
<button type = "button" class ="btn"(click)="addbm()"><b>ADD BOOKMARKS</b></button>
</th>
</tr>

<tr>
    <th>ASSIGN TASK TO A USER</th>
    <th>
<button type = "button" class ="btn"(click)="assign()"><b>ASSIGN TASK</b></button>
</th>
</tr>

<tr>
    <th>SEARCH FOR A TASK</th>
    <th>
<button type = "button" class ="btn"(click)="search()"><b>SEARCH TASK</b></button>
</th>
</tr>

<tr>
    <th>TRACK FOR A TASK</th>
    <th>


<button type = "button" class ="btn"(click)="track()"><b>TRACK TASK</b></button>
</th>
</tr>
</table>

<div style = "text-align: right; font-size: 35px;">
<button type = "button" class ="btn1"(click)="logout()">LOGOUT</button>
<br />
<br />
</div>

</body>










<br />




<br />
